.fa-solid{
    font-size: 14px !important;
}
#menuSpan{
    margin-left: 10px;
}

.bg-c-green {
    background: linear-gradient(45deg,hwb(168 5% 29%),#59e0c5);
}

.dataTables_filter input {
    margin-bottom: 5px;
}
