.fa-solid{
    font-size: 14px !important;
}
#menuSpan{
    margin-left: 10px;
}

.bg-c-green {
    background: linear-gradient(45deg,hwb(168 5% 29%),#59e0c5);
}

.dataTables_filter input {
    margin-bottom: 5px;
}

#navbarNav{
    margin-left: 20px;
}
/* Sidebar */
#sidebar {
    width: 220px;
    background-color: #404E67;
    color: #fff;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    height: 200vh;
    margin-top: 52px;
}
@media (min-width: 1400px) and (max-width: 1600px) {
    #sidebar {
        width: 240px;
    }
}

#sidebar.active {
left: -220px;
}

@media (max-width: 991.98px) {
      #sidebar {
        margin-left: -250px; 
        z-index: 999;
        width: 50%;
      }
      
      #sidebar.active {
        left: 0;
        margin-left: 0;
      }
  
      #sidebar .custom-menu {
          margin-right: -50px !important;
          top: 10px !important; 
      } 
  
      #mainContent {
        margin-top: 52px;
        width: 100%; /* Full width */
        transition: all 0.3s;
      }
  
}
   
#sidebar .custom-menu {
    display: inline-block;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
.custom-menu button {
    color: white;
    margin-left: 100px;
}
  
#mainContent.expanded {
margin-left: 0; 
width: 100%; 
}

