/* navbar right side */
.login-cart {
    display: flex;
    align-items: center;
}

.login-signup {
    margin-right: 10px;
}
/* end */


#footerCard{
    border: none !important;
}


/* navbar category and subcategory menu */
  .category-item {
    position: relative;
   }

  .category-name {
    color: white;
    text-decoration: none;
  }

  .category-name:hover {
    color: #f16a4f;
  }

  .subcategory-card {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      background-color: rgb(200, 197, 197);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 2px;
      width: 200px;
      z-index: 100;
  }

  .category-item:hover .subcategory-card {
    display: block;
  }

  .subcategory-details {
    list-style-type: none;
    padding: 0;
  }

  .subcategory-details li {
    color: black;
    margin-bottom: 5px;
  }

  .subcategory-details li:hover {
    background-color: #f16a4f;
    padding: 5px 0px 5px 5px;
  }

/* end */


/* swipper */
#productSwipper {
    text-align: center;
    font-size: 18px;
}

.productDetailsImg{
    height: 80%;
}

/* homepage h hove */
/* #trandy span{
  color: #f16a4f;
}
#trandy:hover span{
  color: #06333f;
}
#newlyArrived span{
  color: #f16a4f;
}
#newlyArrived:hover span{
  color: #06333f;
} */
#headText span{
  color: #f16a4f;
}
#headText:hover span{
  color: #06333f;
}


@media only screen and (max-width: 480px){
  #titleBlock{
    margin-left: 100px;
  }
  .login-cart{
    margin-top: 5px;
    margin-left: 90px;
  }
  /* .search-results {
    width:100%;
  } */
}

.search-results {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
