/* navbar right side */
.login-cart {
    display: flex;
    align-items: center;
}

.login-signup {
    margin-right: 10px;
}
/* end */


#footerCard{
    border: none !important;
}

#changeWidthSlide{
  width: 80%;
}
#changeWidthContent{
  width: 80%;
  margin-left:10%;
}

/* navbar category and subcategory menu */
  .category-item {
    position: relative;
   }

  .category-name {
    color: white;
    text-decoration: none;
  }

  .category-name:hover {
    color: #f16a4f;
  }

  .subcategory-card {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      background-color: rgb(200, 197, 197);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 2px;
      width: 200px;
      z-index: 100;
  }

  .category-item:hover .subcategory-card {
    display: block;
  }

  .subcategory-details {
    list-style-type: none;
    padding: 0;
  }

  .subcategory-details li {
    color: black;
    margin-bottom: 5px;
  }

  .subcategory-details li:hover {
    background-color: #f16a4f;
    padding: 5px 0px 5px 5px;
  }

/* end */


/* swipper */
#productSwipper {
    text-align: center;
    font-size: 18px;
   
}

#detailsCardBtn {
  width: 81px;
  margin-top: 50px;
  border: 1px solid #ee694e;
  color: #ff781f;
  background-color: #f3e1de;
  border-radius: 3px;
}
#addCardBtn{
  width: 83px;
  margin-top: 50px;
  background-color: #f16a4f;
  color: #fff;
  border-radius: 3px;
}
#namePrice{
  margin-top: 20px;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}


#headText span{
  color: #f16a4f;
}
#headText:hover span{
  color: #06333f;
}


@media (max-width: 700px){
  #page{
    width: 100%;
    
  }
  #titleBlock{
    margin-left: 110px;
  }
  .login-cart{
    margin-top: 5px;
    margin-left: 90px;
  }
  #changeWidthSlide{
    width: 100%;
  }
  .productDetailsImg{
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }
  .productDetailsImg img{
    width: 100%;
    height: 80%;
  }
  #detailsCart{
    margin-top: 10px;
  }
  #productDetailsCard{
    width: 100%;
  }
  .gallery{
    margin-left: 170px;
  }
  
}

.search-results {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.productDetailsImg{
  /* margin-left: 5px; */
  height: 80%;
}


/* product details new style */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.main-image img {
  max-width: 200px;
  height: 300px;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.thumbnail {
  cursor: pointer;
  border: 1px solid rgb(230, 143, 86);
  border-radius: 1px;
}

.thumbnail img {
  width: 50px;
  height: 50px;
}





